$green: #1db954;
$black: #191414;

@mixin btn($bg_color) {
	color: white;
	font-size: 14px;
	line-height: 1;
	border-radius: 500px;
	padding: 16px 48px 18px;
	text-transform: uppercase;
	background-color: $bg_color;
	font-weight: bold;
}
