@import './clean';
@import './vars';
@import './login';
@import './sidebar';

#app {
	color: $black;
	> .container-fluid {
		min-height: 100vh;
	}
}

//Main
main {
	&.main {
		min-height: 100vh;
		height: 100%;
		padding: 2rem;
		background-color: #f8f8f8;
		//background: linear-gradient(-45deg, $black -5%, #333);

		.jumbotron {
			//background-color: $black;
			hr {
				border-top: 1px solid rgba(255, 255, 255, 0.3);
			}
		}

		.media {
			img {
				max-width: 8rem;
			}
		}
	}
}
